@import '~antd/dist/antd.css';

body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

.layout-main {
  min-height: 100vh;
  background: #181818;
}

.layout-content {
  margin-left: 200px;
  background: rgba(0, 0, 0, 0.8);
}

.header {
  background: #181818;
  color: #fefefe;
  padding: 0 30px;
}

.sidebar {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  background: #181818;
}

.sidebar .logo {
  height: 32px;
  margin: 16px;
}

.sidebar .logo img {
  width: 140px;
}

.sidebar .ant-menu.ant-menu-dark .ant-menu-item-selected,
.sidebar .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: rgba(0, 0, 0, 0.8);
}

.content-main {
  padding: 30px;
  color: #fff;
}

.user-profile {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.user-profile button {
  margin: 10px 0;
  padding: 7px 22px;
  text-transform: uppercase;
  background: rgba(24,24,24,.7);
  color: #84BE88;
  border-color: #84BE88;
  min-width: 200px;
  border-radius: 500px;
}

.me-title {
  font-size: 46px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin: 30px 0;
}

.artist-avatar {
  border-width: 15px;
  border-color: #84BE88 #2a3137;
  border-style: solid;
  border-radius: 100%;
  transition:all 0.25s ease-in-out 0s;
  transform: scale(0.9);
}

.artist-avatar.me-avatar {
  box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.8);
  
}

.artist-avatar img {
  opacity: 1;
  transition:all 0.25s ease-in-out 0s;
}

.artist-avatar:hover {
  border-width: 50px;
  transform: scale(1);
  background: transparent;
}

.artist-avatar:hover {
  box-shadow: 0 0 20px 6px rgba(132, 190, 136, 0.8);
}

.artist-avatar.me-avatar:hover img {
  opacity: 0.3;
}

.footer {
  text-align: center;
}