@import '~antd/dist/antd.css';

body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

.layout-main {
  min-height: 100vh;
  background: #181818;
}

.layout-content {
  margin-left: 200px;
  background: rgba(0, 0, 0, 0.8);
}

.header {
  background: #181818;
  color: #fefefe;
  padding: 0 24px;
}

.sidebar {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  background: #181818;
}

.sidebar .logo {
  height: 32px;
  margin: 16px;
}

.sidebar .logo img {
  width: 140px;
}

.sidebar .ant-menu.ant-menu-dark .ant-menu-item-selected,
.sidebar .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: rgba(0, 0, 0, 0.8);
}

.content-main {
  margin: 24px 16px 0;
}

.footer {
  text-align: center;
}